<!DOCTYPE html>
<title>Galerie</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<link href="css/main.css" rel="stylesheet" />
<script>
	const galleryConfig = {
		"preloadThumbs": 12,
		"preloadBackgrounds": 2,
		"thumbs": {
			"maxRotation": 35,
			"randomizePosition": {
				"amount": 5,
				"unit": "vmin",
				"hoverRevert": true,
			}
		},
		"background": {
			"overscroll": false
		},
		"display": {
			"download": true
		},

		// To be overwritten by data
		"extension": "jpg",
		"collections": []
	};

	const data = /*{{BEGIN:data*/{}/*END:data}}*/;

	function startGallery() {
		galleryInit(Object.assign(galleryConfig, data));
	}

</script>
<script src="js/main.js" onload="startGallery();"async ></script>
<div id="blackScreen"></div>
<div id="loading"><div class="indicatorBox"><div class="indicator"></div><div class="text">Loading...</div></div></div>
<div id="pictureDisplay">
	<img />
	<a download>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" version="1.1">
			<line x1="20" y1="80" x2="80" y2="80" />
			<line x1="50" y1="20" x2="50" y2="70" />
			<line x1="30" y1="50" x2="50" y2="70" />
			<line x1="70" y1="50" x2="50" y2="70" />
		</svg>
	</a>
</div>
<div id="background"></div>
<div id="content"></div>
<div id="footer"></div>
<div id="collectionSwitch">
	<div class="button">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" version="1.1">
			<line x1="20" y1="30" x2="80" y2="30" />
			<line x1="20" y1="50" x2="80" y2="50" />
			<line x1="20" y1="70" x2="80" y2="70" />
		</svg>
	</div>
	<div class="menu"></div>
</div>

